html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin-top: 0%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: 'Irish Grover', cursive;
}
html {
  font-family: 'Irish Grover', cursive;
  background-color: #e6ebee;
  margin-top: 0%;
}
header {
  width: 100%;
  opacity: 0.6;
  position: fixed;
  z-index: 1;
  background-color: #cddbe6;
  display: flex;
  align-items: center;
  border-radius: 3%;
  border-bottom: 5px solid #66afe0;
}
header nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 3%;
}
header img {
  padding: 4%;
  width: 27%;
}
header a {
  margin-right: 6%;
  text-align: center;
  width: 35%;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.7%;
  color: #e6ebee;
  background-color: #66afe0;
  border-radius: 20px 20px;
}
header a:hover {
  opacity: 0.9;
  background-color: #e6ebee;
  color: #66afe0;
  padding: 2%;
  font-size: 1.6rem;
}
.container {
  width: 90%;
  margin: 0% auto;
  padding-top: 15%;
}
.row1 {
  margin-top: 7%;
  margin-bottom: 7%;
  padding-bottom: 2%;
  display: flex;
  background-color: #cddbe6;
  border-radius: 5%;
}
.row1 img {
  opacity: 0.8;
  padding: 2%;
  width: 50%;
}
.row1 img:hover {
  opacity: 0.9;
}
.row1 p {
  padding: 2%;
  color: #66afe0;
  font-size: 2.5rem;
  text-align: center;
}
.row1 p:hover {
  color: white;
}
.row1 .row1a {
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row1 a {
  color: #e6ebee;
  font-size: 1.5rem;
  border-radius: 20px 20px;
  padding: 3% 20%;
  background-color: #66afe0;
  text-decoration: none;
  margin-top: 8%;
}
.row1 a:hover {
  background-color: #e6ebee;
  font-size: 1.9;
  color: #66afe0;
  padding: 4% 25%;
}
.family img {
  border-radius: 10%;
  margin-top: 4%;
  width: 100%;
  opacity: 0.8;
}
.family img:hover {
  opacity: 1;
}
.food img {
  margin-top: 4%;
  width: 100%;
  opacity: 0.8;
  border-radius: 10%;
}
.food img:hover {
  opacity: 1;
}
.boxes {
  border-radius: 10%;
  display: flex;
  margin-top: 10%;
  background-color: #cddbe6;
}
.boxes .box1 {
  border-radius: 10%;
  margin: 4% 2%;
  padding: 2%;
  width: 26%;
  background-color: #e5f5eb;
}
.boxes .box1 h2 {
  color: #66afe0;
  padding-bottom: 9%;
  text-align: center;
  font-size: 1.5rem;
}
.boxes .box1 p {
  color: #66afe0;
  font-size: 1.2rem;
  text-align: center;
}
.boxes .box1 i {
  margin: 5% 30%;
  font-size: 5rem;
  color: #66afe0;
}
.footer {
  border-radius: 3;
  margin-top: 3%;
  background-color: #cddbe6;
  border-top: 6px solid #66afe0;
}
.footer img {
  margin-bottom: 10%;
  margin: 1%;
  width: 30%;
}
.footer .warrior {
  width: 15%;
  padding-left: 45%;
  padding-top: 3%;
}
.footer p {
  text-align: center;
  padding: 1%;
  font-size: 1.2rem;
}
.footer p:hover {
  color: white;
}
@media only screen and (max-width: 500px) {
  .container {
    padding-top: 40%;
  }
  .row1 img {
    display: none;
  }
  .containerb {
    padding-top: 33%;
  }
  header {
    padding-bottom: 2%;
    flex-direction: column;
  }
  header nav {
    width: 100%;
    margin-left: 20%;
    flex-direction: column;
  }
  header a {
    width: 80%;
    margin: 2%;
    padding: 0%;
  }
  .boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .boxes .box1 {
    width: 70%;
  }
}
.containera {
  width: 90%;
  margin: 0 auto;
  padding-top: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #cddbe6;
  border-radius: 10%;
}
.containera .items {
  border-radius: 10%;
  background-color: #e6ebee;
  width: 28%;
  margin: 1% 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 2px solid #66afe0;
}
.containera h4 {
  padding: 2%;
  font-size: 1.8rem;
  text-align: center;
  color: #66afe0;
}
.containera p {
  color: #66afe0;
  font-size: 1.2rem;
  padding: 15% 10%;
  text-align: center;
}
.liberty {
  border-radius: 10%;
  width: 89%;
  margin: 5% 6%;
  opacity: 0.7;
}
.flag {
  opacity: 0.7;
  border-radius: 10%;
  padding-top: 13%;
  width: 89%;
  margin: 1% 5.3%;
}
@media only screen and (max-width: 500px) {
  .containera .items {
    width: 90%;
  }
}
section {
  padding-top: 14%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .person {
  display: flex ;
  align-items: center;
  border-radius: 10% 10%;
  width: 50%;
  margin: 5%;
  background-color: #cddbe6;
}
section .person img {
  width: 30%;
  padding: 3%;
  border-radius: 50% 50%;
}
section .person h4 {
  padding-top: 2%;
  padding-left: 8.5%;
  font-size: 1.4rem;
}
section .person a {
  padding: 5%;
  font-size: 3rem;
  color: black;
}
section .person a:hover {
  color: #66afe0;
}
@media only screen and (max-width: 500px) {
  section {
    padding-top: 40%;
    flex-direction: column;
  }
  section .person {
    width: 80%;
  }
}
