html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
      line-height: 1;
      margin-top: 0%;
      // padding-top: 30%;
      // z-index: 1000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
      font-family: 'Irish Grover', cursive;
}
html{
      font-family: 'Irish Grover', cursive;

      background-color:rgb(230, 235, 238);
     margin-top: 0%;
}
header{
      width:100%;
      opacity: 0.6;
      position: fixed;
      z-index:1;
      // border: 4px dashed #214F4B;
      background-color: rgb(205, 219, 230);
      display: flex;
      align-items:center;
      border-radius: 3%;
      border-bottom: 5px solid rgb(102, 175, 224);
      nav{
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            margin-right: 3%;
      }
      img{
            padding: 4%;
            width:27%;
      }
      a{
            margin-right: 6%;
            text-align: center;
            width:35%;
            text-decoration: none;
            font-size: 1.5rem;
            // margin: 2%;
             padding: .7%;
             color: rgb(230, 235, 238);
            // border: solid 3px #2DE1FC;
            background-color: rgb(102, 175, 224);
            border-radius: 20px 20px;
      }
      a:hover{
            opacity: 0.9;
            background-color:rgb(230, 235, 238);
            color: rgb(102, 175, 224);
            // font-weight: 900;
            // color: rgb(12, 124, 72);
            padding: 2%;
            font-size: 1.6rem;
            // border: dashed 2px #214F4B;
            // border: 4px dashed #214F4B;
      }
}
.container{
      width:90%;
      margin: 0% auto;
      padding-top: 15%;
}
.row1{
      // opacity: 0.7;
      margin-top: 7%;
      margin-bottom: 7%;
      padding-bottom:2%;
      display: flex;
      background-color: rgb(205, 219, 230);
      border-radius: 5%;
      img{
            opacity: 0.8;
            padding: 2%;
            width:50%;
      }
      img:hover{
            opacity: 0.9;
      }
      p{
            padding: 2%;
            color: rgb(102, 175, 224);
            font-size: 2.5rem;
            text-align: center;
      }
      p:hover{
            color:white;
      }
      .row1a{
            border-radius: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin: 0 auto;
      }
      a{
            color: rgb(230, 235, 238);
            font-size: 1.5rem;
            border-radius: 20px 20px;
            padding: 3% 20%;
            background-color: rgb(102, 175, 224);
            text-decoration: none;
            margin-top: 8%;
      }
      a:hover{
            background-color:rgb(230, 235, 238);
            font-size: 1.9;
            color: rgb(102, 175, 224);
            padding: 4% 25%;
      }
}
.family{
      img{
            border-radius: 10%;
            margin-top:4%;
            width:100%;
            opacity: 0.8;
      }
      img:hover{
            opacity: 1.0;
      }
}
.food{
      img{
            margin-top:4%;
            width:100%;
            opacity: 0.8;
            border-radius: 10%;
      }
      img:hover{
            opacity: 1.0;
      }
}
.boxes{
      border-radius: 10%;
      display: flex;
      margin-top: 10%;
      background-color: rgb(205, 219, 230);
      .box1{
            border-radius: 10%;
            margin:4% 2%;
            padding: 2%;
            width:26%;
            background-color: rgb(229, 245, 235);
            h2{
                  color: rgb(102, 175, 224);
                  padding-bottom: 9%;
                  text-align: center;
                  font-size: 1.5rem;
            }
            p{
                  color: rgb(102, 175, 224);
                  font-size: 1.2rem;
                  text-align: center;
            }
            i{
                  margin: 5% 30%;;
                  font-size: 5rem;
                  color: rgb(102, 175, 224);
            }
            
      }
      
}
.footer{
      border-radius: 3;
      margin-top: 3%;
      background-color: rgb(205, 219, 230);
      border-top: 6px solid  rgb(102, 175, 224);
      img{
            margin-bottom: 10%;
            margin:1%;
            width:30%;
      }
      .warrior{
            width:15%;
            padding-left: 45%;
            padding-top: 3%;
      }
      p{
            text-align: center;
            padding:1%;
            font-size: 1.2rem;
      }
     p:hover{
           color:white;
     }
}
@media only screen and (max-width: 500px) {
      .container{
            padding-top:40%;
      }
      .row1 img{
            display: none;
      }
      .containerb {
            padding-top:33%;
      }
      header{
            padding-bottom: 2%;
            flex-direction: column;
            nav{
                  width:100%;
                  margin-left: 20%;
                  flex-direction: column;
            }
            a{
                  width:80%;
                  margin: 2%;
                  padding: 0%;
            }
      }
      .boxes{ 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .box1{
                  width:70%;
            }
      }
    }
    .containera{
      width:90%;
      margin:0 auto;
      padding-top: 0%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: rgb(205, 219, 230);
      border-radius: 10%;
          .items{
            border-radius: 10%;
                background-color:rgb(230, 235, 238);
                width:28%;
                margin:1% 1%;
                margin-top: 5%;
                margin-bottom: 5%;
                border: 2px solid rgb(102, 175, 224);
          }
          h4{
                padding: 2%;
                font-size: 1.8rem;
                text-align: center;
                color: rgb(102, 175, 224);
          }
          p{
                  color: rgb(102, 175, 224);
                  font-size: 1.2rem;
                  padding: 15% 10%;
                  text-align: center;
      }
    }
    .liberty{
          border-radius: 10%;
          width:89%;
          margin: 5% 6%;
          opacity: 0.7;
    }
    .flag{
            opacity: 0.7;
            border-radius: 10%;
            padding-top: 13%;
            width:89%;
            margin: 1% 5.3%;  
    }
    @media only screen and (max-width: 500px) {
          .containera{
                .items{
                      width:90%;
                }
          }
    }
section{
      padding-top: 14%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .person{
            display: flex ;
            align-items: center;
            border-radius: 10% 10%;
            width:50%;
            margin:5%;
            background-color: rgb(205, 219, 230);
            img{
                  width: 30%;
                  padding: 3%;
                  border-radius: 50% 50%;
            }
            h4{
                  padding-top: 2%;
                  padding-left: 8.5%;
                  font-size: 1.4rem;
            }
            a{
                  padding: 5%;
                  font-size: 3rem;
                  color:black;
            }
            a:hover{
                  color: rgb(102, 175, 224);
            }
      }
}
@media only screen and (max-width: 500px) {
            section{
                  padding-top:40%;
                  flex-direction: column;
                  .person{
                        width: 80%;
                  }
            }
}

